/* pagina mural */

*,
body {
  font-family: "Exo 2", Arial, Helvetica, sans-serif;
}

.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: yellow;
  font-family: "Exo 2", Arial, Helvetica, sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
  color: black;
}

.dash-right .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
  border: 3px solid rgb(255, 183, 0);
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  /* color: #E6005A; */
  border: 3px solid rgb(255, 183, 0);
  background-color: white;
  border-radius: 5px;
  
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: rgb(255, 183, 0);;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: rgb(255, 183, 0);
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid rgb(255, 183, 0);
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 75%;
  position: relative;
  top: 0;
  left: 25%;
  background-color: black;

  /* width: 75%;
    display: flex;
    background-color: #161618;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;*/
  height: 100vh;
}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}


.item-regua {
  padding: 5px;
  width: 15%;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.graph {
  width: 80%;
  margin: auto;
  padding-top: 45px;
}
.btn_esportes{
  width: 140px;
  height: 130px;
  border-radius: 8px;
  background-color: white;
  border: 2px solid rgb(255, 183, 0);
  margin-top: 60px;
  margin-left: 50px;
  
}
#fut{
  background-image: url();
   
}
p{
  margin-right: 40px;
  margin-left: 40px;
}
video{
  margin-left: 500px;
  margin-top: 100px;
  border-radius: 10px;
}
.ata{
  width: 770px;
}

.div_text{
  background-color: gold;
  border-radius: 8px;
  font-weight: bolder;
}
button{
  color: black;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  background-color: gold;
}
h3{
  color: white;
}